body {
  background: #e8e8e2;
}

#header {
  display: block;
  height: 50px;
  margin-right: 50px;
  margin-left: 50px;
}

.titleHeader {
  float: left;
  font-size: 18pt;
  color: #043afb;
}

.menuHeader {
	float: right;
	height: 40px;
	position: relative;
}

.menuHeader .selected {
  color: #043afb !important;
}

#content {
  margin-left: 50px;
  margin-right: 50px;
}

#workouts, #new{
  float: left;
  width: 100px;
  color: black;  
  display: inline-block;
  text-align: center;
}

#workouts:hover, #new:hover {
  color: #043afb;
}

fieldset {
	border-radius: 6px 6px 6px 6px;
	border-color: #043afb;
}

#workoutForm fieldset {
	background: #ddd;
}

.formLabel {
	width: 100px;
	display: inline-block;
	margin-top: 10px;
}

#workoutForm {
	margin-left: 15px;
}

.exerciseForm {
	margin: 20px;
}

.exerciseForm table {
	margin-top: 10px;
}


.selectLbl {
	margin-right: 10px;	
	width: 100px;
	margin-left: 20px;
}

.exNameLbl {
	margin-right: 10px;
}

.formHeaderRow {
	background: #043afb; /*#7a7a7a;*/
	border-spacing: 0px !important;
	color: white;
}

.notes {
	width: 300px;
}
.submitBtn{
	margin-top: 10px;
}	

.exSelect {
	margin-bottom: 20px;
}

.exDetails fieldset {
  margin-top: 20px;
  background: #ddd !important;
}

/** workout table */
.workoutItem {
  width: 200px;
  text-align: center;
}

.workoutRow {
  border-bottom: thin solid #7a7a7a;
  display: table;
}

.workoutRow:hover {
  background-color: #dddddd;
}

.headerRow {
  border-bottom: thin solid #7a7a7a;
  display: table;
  background: #043afb; /*#7a7a7a;*/
  color: white;
}

.headerRow .sortable, .workoutRow .edit, .workoutRow .similar{
  text-decoration: underline;  
}
.headerRow .sortable:hover, .workoutRow .edit:hover, .workoutRow .similar:hover {
  cursor: pointer;
}

.paginator {
	text-align: center;
}

.paginator .first, .paginator .prev, .paginator .next, .paginator .last {
  margin: 5px;
}

.paginator .first:hover, .paginator .prev:hover, .paginator .next:hover, .paginator .last:hover {
  cursor: pointer;
}

.setfield {
  width: 100px;
  display: inline-table;
}

.tableRow .notes {
  width: 200px !important;
}

.exDetailsSection {
  /**margin-left: 100px;  */
  margin: 20px 0;
}


.tableRow {
  border-bottom: thin solid #7a7a7a;
  border-left: thin solid #7a7a7a;
  border-right: thin solid #7a7a7a;
  display: table;
  width: 500px;
}



.workoutsPage table {
  border: thin solid #7a7a7a;
  border-spacing: 0px;
}

.searchBar {
  display: inline;
  margin-left: 20px;
}

.searchBar input {
  border-radius: 4px 4px 4px 4px;
  border: thin solid black;
  width: 200px;
 }