fieldset {
	border-radius: 6px 6px 6px 6px;
	border-color: #043afb;
}

#workoutForm fieldset {
	background: #dddddd;
}

.formLabel {
	width: 100px;
	display: inline-block;
	margin-top: 10px;
}

#workoutForm {
	margin-left: 15px;
}

.exerciseForm {
	margin: 20px;
}

.exerciseForm table {
	margin-top: 10px;
}


.selectLbl {
	margin-right: 10px;	
	width: 100px;
	margin-left: 20px;
}

.exNameLbl {
	margin-right: 10px;
}

.formHeaderRow {
	background: #DDDDDD;
}

.notes {
	width: 300px;
}
.submitBtn{
	margin-top: 10px;
}	

.exSelect {
	margin-bottom: 20px;
}

.exDetails fieldset {
  margin-top: 20px;
  background: #dddddd !important;
}

/** workout table */
.workoutItem {
  width: 200px;
  text-align: center;
}

.workoutRow {
  border: thin solid #ddd;
  display: table;
}

.headerRow {
  background: #ddd;
}

.headerRow .sortable, .workoutRow .edit, .workoutRow .similar{
  text-decoration: underline;  
}
.headerRow .sortable:hover, .workoutRow .edit:hover, .workoutRow .similar:hover {
  cursor: pointer;
}


.paginator .first, .paginator .prev, .paginator .next, .paginator .last {
  margin: 5px;
}

.paginator .first:hover, .paginator .prev:hover, .paginator .next:hover, .paginator .last:hover {
  cursor: pointer;
}

