<!DOCTYPE html>
<html>

  <head>
    <title>Backbone.js</title>
    
    <script src="js/lib/json2.js"></script>
    <script src="js/lib/jquery-1.7.2.min.js"></script>
    <script src="js/lib/underscore.js"></script>
    <script src="js/lib/backbone.js"></script>
	<script src="js/lib/jquery-ui-1.8.21.custom.min.js"></script>
    <script src="js/app.js"></script>
	
	<link rel="stylesheet" href="css/ui-lightness/jquery-ui-1.8.21.custom.css">
	<link rel="stylesheet" href="css/app.css">
	
	
  </head>

  <body>

    <!-- Todo App Interface -->

   <div id="content">
			
	</div>

  

    <!-- Templates -->
	<script type="text/template" id="pagination-template">
		<% if (setobj.start > 0) {%>
			<span class="first"><<</span>
			<span class="prev"><</span>
		<% } %>
		
		<%=setobj.start+1%> - <%=setobj.start + setobj.models.length%> of <%=setobj.totalCount%>
		<% if (setobj.start + setobj.models.length < setobj.totalCount) { %>
			<span class="next">></span>
			<span class="last">>></span>
		<% } %>
	</script>
	
	<script type="text/template" id="workoutCollection-template">
		<table>
			<tr class="workoutRow headerRow">
			<th class="workoutItem sortable">Name</th>
			<th class="workoutItem sortable">Date</th>
			<th class="workoutItem sortable">Time</th>
			<th class="workoutItem">Notes</th>
			<th class="workoutItem">Options</th>
			</tr>
		</table>
	</script>

	<script type="text/template" id="workoutItem-template">
		
		<td class="workoutItem"><%=setobj.get('name')%></td>
		<td class="workoutItem"><%=setobj.get('date')%></td>
		<td class="workoutItem"><%=setobj.get('time')%></td>
		<td class="workoutItem"><%=setobj.get('notes')%></td>
		<td data-id='<%=setobj.get('workoutId')%>' class="workoutItem"><span class="edit">edit</span>|<span class="similar">similar</span></td>
		
	</script>

	<script type="text/template" id="form-template">
		<fieldset>
		<legend>Workout Details</legend>
		<div><span class="formLabel">Name</span><input name="name" type='text'/ value='<%=setobj.get('name')%>'></div>
		<div><span class="formLabel">Date</span><input name="date" id="datepicker" type="text" value='<%=setobj.get('date')%>'/></div>
		<div><span class="formLabel">Time</span><input name="time" type='text' value='<%=setobj.get('time')%>'/></div>
		<div><span class="formLabel">Notes</span><input name="notes" type='text' value='<%=setobj.get('notes')%>'/></div>
		
		<div class="exSelect">
			<span class="formLabel"># of Exercises</span><select id="numEx"/></div>
		</div>
		
		<div class="exDetails">		
		</div>
		
		<input id="submitbtn" type="submit" value="Save Workout" class="submitBtn"/>
		</fieldset>
	</script>
	
	<script type="text/template" id="ex-template">
		<fieldset>
		<legend>Exercise Details</legend>
		<div class="exerciseForm">
			<div><span class="exNameLbl">Exercise Name</span><input name="name" type="text" class="exName" value='<%=setobj.exercises.get('name')%>'/><span class="selectLbl"># of Sets</span><select id="numSets"/></div>
			<div>
				<table >
					<tr class="formHeaderRow"><th class="formHeader">Reps</th><th class="formHeader">Weight</th><th class="formHeader">Notes</th></tr>	
									
				</table>
			</div>
		</div>
		</fieldset>
	</script>
	
	<script type="text/template" id="set-template">		
		<td><input type='text' name="reps" value='<%=setobj.get('reps')%>'/></td>
		<td><input type='text' name="weight" value='<%=setobj.get('weight')%>'/></td>
		<td><input class="notes" name="notes" type='text' value='<%=setobj.get('notes')%>'/></td>
	</script>
    

  </body>

</html>
